<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @posts.each do |post| %>
  <article>
    <h2><%= post.title %></h2>
    <div class='post-meta'>
      By: <%= post.author.name  %><br/>
      Last updated: <%= post.created_at.to_s(:long) %>
    </div>

    <div class='post-content'>
      <%= simple_format post.content  %>
    </div>
  </article>
<% end %>